:root {
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --primary-text-color: #2e2f42;
  --desc-text-color: #434455;
  --accent-text-color: #4d5ae5;
  --white-color: #ffffff;
  --button-hover-color: #404bbf;
  --light-color: #f4f4fd;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: var(--primary-font);
  letter-spacing: 0.02em;
}

/* ==================== COMPONENTS ==================== */

/* logo */
.header-logo {
  color: var(--primary-text-color);
  font-family: var(--secondary-font);
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.heder-logo-Light {
  color: var(--light-color);
}

.header-logo-web {
  color: var(--accent-text-color);
}

/* Еще один вариант дать синий цвет логотипу */
/* .header-logo > span {
  color: var(--accent-text-color);
} */

/* ========== Button ========== */

.btn-options {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* button-index.html */
.modal-btn {
  color: var(--white-color);
  background-color: var(--accent-text-color);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--button-hover-color);
}

/* button-portfolio.html */
.btn-portfolio {
  color: var(--accent-text-color);
  background-color: var(--light-color);
  text-align: center;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--white-color);
  background-color: var(--button-hover-color);
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-text-color);
}

.desc-text {
  font-size: 16px;
  line-height: 1.5;

  color: var(--desc-text-color);
}

/* ==================== /COMPONENTS ==================== */

/* ==================== Header ==================== */

/* menu */
.menu-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-text-color);
}

.menu-link.current {
  color: var(--accent-text-color);
}

/* email address and phone number */
.contact-link {
  color: var(--desc-text-color);
  font-size: 16px;
  line-height: 1.5;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-text-color);
}

/* ==================== /Header ==================== */

/* ==================== Hero ==================== */

/* hero */
/* Temporarily the color is black */
.hero-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  text-align: center;
}

/* ==================== /Hero ==================== */

/* Temporarily the color is black */
.footer-text {
  color: var(--primary-text-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  text-transform: capitalize;
}

.content-card {
  font-size: 16px;
  line-height: 1.5;

  /* Temporarily the color is black */
  color: var(--primary-text-color);
}

/* ==================== Colors ==================== */

/* Body text (Text, SLATE) #434455 */

/* CTAs Focused Active states Links (Primary Brand, Iris) #4D5AE5 */

/* CTAs (Pressed state, OCEAN) #404BBF */

/* Overlays Shadows Headings (Dark, Navy blue) #2E2F42 */

/* Valid fields Success messages (Success, GREEN #31D0AA) */

/* Helper text Deemphasized text (Subtle Text, LIGHT SLATE) #8E8F99 */

/* Accent color Hairlines Subtle backgrounds (Accent, cornflower #E7E9FC) */

/*  Light mode backgrounds Light mode Dialogs/alerts (Light, CLOUD) #F4F4FD */

/*  Overlay (Modal overlay, NAVY BLUE modal) #2E2F42 */

/*  Hero image background (Hero background, GREY) 2E2F42 */

/* White #FFFFFF */

/* Основной цвет фона #E5E5E5 */

/* Styles for index.html */

/* ==================== /Colors ==================== */
